.header {
    text-align: center;
}

.product {
    text-align: justify;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    display: flex;
    gap: 50px;
}

.product-image {
    height: 150px;
    width: 150px;
}